# name: Terraform CI Pipeline

# on:
#   push:
#     branches:
#       - "**"

# jobs:
#   terraform:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v4

#       - name: Setup Terraform
#         uses: hashicorp/setup-terraform@v2
#         with:
#           terraform_version: 1.5.0

#       - name: Terraform Validation
#         run: terraform validate
#         working-directory: ./

#       - name: Terraform Formatting
#         uses: dflook/terraform-fmt@v2
#         with:
#           path: ./
name: CI pipeline
on:
  push:
    branches:
      - "**" # matches every branch
# defaults:
#   run:
#     working-directory: "terraform/"
jobs:
  ci:
    name: ci
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: terraform fmt
        uses: dflook/terraform-fmt-check@v1
      - name: terraform validate
        uses: dflook/terraform-validate@v2
        with:
          path: ./
