name: Terraform CI Pipeline

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0

      - name: Initialise Terraform
        run: terraform init
        working-directory: ./

      - name: Terraform Validation
        run: terraform validate
        working-directory: ./

      - name: Terraform Formatting
        run: terraform fmt -check
        working-directory: ./

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v3

      - name: TFLint Run
        run: tflint --init && tflint
        working-directory: ./
