name: CI pipeline
on:
  push:
    paths:
      - "**.tf"
jobs:
  ci:
    name: ci
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: terraform fmt
        uses: dflook/terraform-fmt-check@v1

      - name: terraform validate
        uses: dflook/terraform-validate@v2
        with:
          path: ./eu-central-1/production
